/*Responsive Design*/

/* mobile */
@media screen and (min-width: 310px) {
    .navbar{
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
    }
    nav ul{
        text-align: center;
    }
    nav ul li{
        display: inline;
        font-size: .75em;
    }
    #container{
        width: 310px;
        height: 825px;
    }
    img{
        display: none;
    }
    #head{
        width: 70%;
        float: none;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 20px;
        font-size: 1em;
        padding: 10px;
    }
    #sec{
        font-size: 1em;
    }
    #p{
        font-size: .75em;
        margin: auto;
        width: 75%;
        height: 350px;
    }

    /*CSCI 215*/
    #sidebar{
        float: none;
        margin: auto;
        height: 325px;
        width: 100%;
    }

    #sidebar h3{
        text-align: center;
        padding: 0;
    }

    #sidebar ul{
        list-style: none;
        margin: auto;
    }

    #sidebar ul li{
        padding: 1px 0 1px 0;
        text-align: center;
    }

}

/* tablet */
@media screen and (min-width: 650px) {
    .navbar{
        width: 100%;
        height: 75px;
    }
    nav ul{
        text-align: center;
    }
    nav ul li{
        display: inline;
        font-size: .75em;
    }
    #container{
        width: 600px;
        height: 825px;
    }
    img{
        display: none;
    }
    #head{
        width: 70%;
        float: none;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 20px;
        padding: 10px;
        font-size: .75em;
    }
    #sec{
        font-size: 1em;
    }

    #p{
        font-size: 1em;
        margin: auto;
        width: 75%;
        height: 425px;
    }

    /*CSCI 215*/
    #sidebar{
        float: left;
        height: 825px;
        width: 17%;
    }

    #sidebar h3{
        padding-left: 10px;
    }

    #sidebar ul{
        list-style: none;
    }

    #sidebar ul li{
        padding: 1px 0 1px 0;
    }

}

/* desktop */
@media (min-width: 1000px) {
    .navbar{
        width: 100%;
        height: 50px;
    }


    nav ul{
        list-style-type: none;
        text-decoration: none;
        float: left;
        display: block;
        text-align: center;
        padding: 5px 16px;
    }

    nav ul li{
        display: inline;
        font-size: 1.2em;
    }

    #container{
        margin: auto;
        margin-top: 73px;
        width: 1200px;
        height: 825px;
    }

    #sec{
        margin: auto;
        width: 80%;
    }

    #head{
        width: 60%;
        float: right;
        font-size: 1.1em;
        margin-top: 2px;
        margin-right: 50px;
        padding: 20px;
    }

    img{
        display: inline;
        margin: 30px 30px 30px 70px;
    }

    #p{
        margin: auto;
        width: 90%;
        height: 400px;
        font-size: 1.1em;
    }

    footer {
        height: 100px;
        text-align: center;
    }

    footer p{
        padding: 3px;
    }

    /*CSCI 215*/

    #sidebar{
        float: left;
        height: 825px;
        width: 17%;
    }

    #sidebar h3{
        text-align: left;
        padding-left: 10px;
    }

    #sidebar ul{
        text-align: left;
        margin: 0;
        list-style: none;
    }

    #sidebar ul li{
        text-align: left;
        padding: 1px 0 1px 0;
    }

}

/* Desktop HD */
@media (min-width: 1200px) {

}