/*
#d7a449 Mimosa
#db3f29 Cinnabar
#e8e3cc Ivory
#0b1f65 Royal Blue
*/

body html head div p nav header section footer {
    margin:0px;
    padding:0px;
    font-family: Calibri, sans-serif;
}

body{
    background-image: url('images/blue-background.jpg');
    background-color: #0b1f65;
}

.navbar{
    overflow: hidden;
    background-color: gray;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 50px;
}


nav ul{
    list-style-type: none;
    text-decoration: none;
    color: #e8e3cc;
    float: left;
    display: block;
    text-align: center;
    padding: 5px 16px;
}

nav ul li{
    display: inline;
    font-size: 1.2em;
}

nav a{
    color: #e8e3cc;
    text-decoration: none;
}

nav ul li a:hover{
    color: #db3f29;
}

#container{
    margin: auto;
    margin-top: 73px;
    width: 1000px;
    background-color: #d7a449;
}

.sec{
    margin:auto;
    width: 80%;
    background-color: #e8e3cc;
    border: 5px solid black;
    border-top: 0;
}

header{
    height: 300px;
}
#head{
    width: 60%;
    float: right;
    font-size: 1.1em;
    background-color: #db3f29;
    margin-top: 50px;
    margin-right: 50px;
    padding: 20px;
}

img{
    margin: 30px 30px;
    border: 4px solid #db3f29;
}

#name{
    margin: auto;
    font-size: 1.2em;
}

section {
    height: 300px;
}

p{
    padding: 25px;
}

footer {
    height: 100px;
    text-align: center;
}

footer p{
    padding: 3px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: red;
    text-decoration: underline;
}
